* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#rect1, #rect2, #rect3, #rect4 {
  width: 150px;
  margin-top: 20px;
  border: 1px solid #f00;
  flex: 0 0 auto;
}

#rect1 {
  height: 120px;
  order: 10;
}

#rect2 {
  height: 100px;
  order: 20;
}

#rect3 {
  height: 40px;
  order: 30;
}

#rect4 {
  height: 200px;
  border: 1px solid #00f;
  order: 40;
}

@media all and (max-width:640px) {
  #rect4 {
    order: 5;
  }
  
<<<<<<< HEAD
  #rect1 {
=======
  #rect3 {
>>>>>>> gz
    order: 45;
  }
}
