* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.container, .box {
  padding: 20px;
  border: 1px solid #999;
}

.container {
  background-color: #eee;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.box {
  background-color: white;
}

.intro {
  width: 160px;
  float: left;
}

img {
  width: 80px;
  height: 80px;
  border: 1px solid #999;
}

.intro span {
  vertical-align: top;
}

.content {
  margin-left: 220px;
  margin-right: 140px;
}

.content p {
  text-indent: 2em;
}

.member {
  width: 80px;
  float: right;
}

.member img {
  margin-top: 20px;
  display: block;
}

.member img:first-child {
  margin-top: 0px;
}
